.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
  //box-shadow: 0 2rem 6rem rgba($color: black, $alpha: .3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 18%;

  background-color: var(--color-grey-dark-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  flex: 1;

  background-color: #fff;
  //height: 80rem; // test
}

.detail {
    padding: 4.5rem;
    display: flex;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    .description {
        font-size: 1.4rem;
        background-color: white;
        box-shadow: var(--shadow-light);
        padding: 3rem;

        flex: 0 0 60%;
        margin-right: 4.5rem;
        
    }

    .user-reviews {
        background-color: yellowgreen;
        flex: 1;
    }
}
